<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GeoClean Automation Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="End-to-End Functional Flow">
        <classes>
            <class name="tests.RegisterTest"/>
            <class name="tests.LoginTest"/>

            <class name="tests.DashboardTest"/>
            <class name="tests.SiteTest"/>

            <class name="tests.CleanerTest"/>
            <class name="tests.AssignmentsTest"/>
            <class name="tests.ReportsTest"/>
        </classes>
    </test>

</suite>